body {
  background-color: #fafad2;
}

hr {
width: 5%;
border-color: gray;
border-style: none;
border-top-style: dotted;
border-width: 5px;
}
h1 {
  color : #867070
}
h3 {
  color : #867070
}
